{
  "openapi": "3.0.3",
  "info": {
    "title": "TCGGO API Documentation v1",
    "description": "A powerful and comprehensive API for accessing Trading Card Game data. Get real-time prices, card information, product details, inventory management, and market trends for Pokémon TCG and other trading card games.",
    "version": "1.0.0",
    "contact": {
      "name": "TCGGO Čepo",
      "url": "https://www.tcggo.com"
    }
  },
  "servers": [
    {
      "url": "https://cardmarket-api-tcg.p.rapidapi.com"
    }
  ],
  "tags": [
    {
      "name": "Inventory",
      "description": ""
    },
    {
      "name": "Cards",
      "description": ""
    },
    {
      "name": "Products",
      "description": ""
    },
    {
      "name": "Episodes",
      "description": ""
    },
    {
      "name": "Artists",
      "description": ""
    },
    {
      "name": "History Prices",
      "description": ""
    },
    {
      "name": "Health",
      "description": ""
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "apiKey",
        "name": "x-rapidapi-key",
        "in": "header",
        "description": "<a href=\"https://rapidapi.com/tcggopro/api/cardmarket-api-tcg/playground\">Get your API key on RapidAPI</a><br><br><strong>For Inventory API Key:</strong> Go to your <a href=\"https://www.tcggo.com/profile\">Profile</a> (scroll to \"Inventory API Key\" section) or visit <a href=\"https://www.tcggo.com/api-key\">API Key page</a>. Click \"Generate API Key\" (key is shown only once - copy it immediately!)"
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/inventories": {
      "get": {
        "summary": "List Inventories",
        "operationId": "listInventories",
        "description": "Get a paginated list of the authenticated user's inventories with financial summary.\n\n**Authentication:** Requires Inventory API Key\n\n**Where to get your Inventory API Key:**\n- Go to your Profile page: https://www.tcggo.com/profile (scroll to \"Inventory API Key\" section)\n- Or visit the API Key page: https://www.tcggo.com/api-key\n- Click \"Generate API Key\" (key is shown only once - copy it immediately!)\n\n**Example:**\n```bash\ncurl -H \"Authorization: Bearer tcggo_inv_YOUR_KEY\" \\\n     https://www.tcggo.com/inventories\n```",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number for pagination.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number for pagination.",
              "example": 1,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "rapidapi_tcggo_key",
            "description": "Inventory API Key (alternative to Authorization header).",
            "example": "tcggo_inv_XXXX",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Inventory API Key (alternative to Authorization header).",
              "example": "tcggo_inv_XXXX",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "name": "Main Collection",
                        "is_public": true,
                        "is_primary": true,
                        "total_items": 25,
                        "total_value": 4775,
                        "actual_value": 3200,
                        "profit_loss": 1575,
                        "profit_loss_percentage": 49.22,
                        "created_at": "2024-01-15T10:30:00+00:00",
                        "updated_at": "2024-12-20T14:22:00+00:00"
                      },
                      {
                        "id": 2,
                        "name": "Vintage Cards",
                        "is_public": false,
                        "is_primary": false,
                        "total_items": 12,
                        "total_value": 2150,
                        "actual_value": 1800,
                        "profit_loss": 350,
                        "profit_loss_percentage": 19.44,
                        "created_at": "2024-03-20T08:15:00+00:00",
                        "updated_at": "2024-12-18T09:45:00+00:00"
                      }
                    ],
                    "paging": {
                      "current": 1,
                      "total": 1,
                      "per_page": 20
                    },
                    "results": 2
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 1,
                          "name": "Main Collection",
                          "is_public": true,
                          "is_primary": true,
                          "total_items": 25,
                          "total_value": 4775,
                          "actual_value": 3200,
                          "profit_loss": 1575,
                          "profit_loss_percentage": 49.22,
                          "created_at": "2024-01-15T10:30:00+00:00",
                          "updated_at": "2024-12-20T14:22:00+00:00"
                        },
                        {
                          "id": 2,
                          "name": "Vintage Cards",
                          "is_public": false,
                          "is_primary": false,
                          "total_items": 12,
                          "total_value": 2150,
                          "actual_value": 1800,
                          "profit_loss": 350,
                          "profit_loss_percentage": 19.44,
                          "created_at": "2024-03-20T08:15:00+00:00",
                          "updated_at": "2024-12-18T09:45:00+00:00"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "Main Collection"
                          },
                          "is_public": {
                            "type": "boolean",
                            "example": true
                          },
                          "is_primary": {
                            "type": "boolean",
                            "example": true
                          },
                          "total_items": {
                            "type": "integer",
                            "example": 25
                          },
                          "total_value": {
                            "type": "number",
                            "example": 4775
                          },
                          "actual_value": {
                            "type": "number",
                            "example": 3200
                          },
                          "profit_loss": {
                            "type": "number",
                            "example": 1575
                          },
                          "profit_loss_percentage": {
                            "type": "number",
                            "example": 49.22
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00+00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2024-12-20T14:22:00+00:00"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "current": {
                          "type": "integer",
                          "example": 1
                        },
                        "total": {
                          "type": "integer",
                          "example": 1
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 20
                        }
                      }
                    },
                    "results": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "security": []
      }
    },
    "/inventories/{id}": {
      "get": {
        "summary": "Get Inventory Detail",
        "operationId": "getInventoryDetail",
        "description": "Get detailed information for a specific inventory, including paginated items with pricing data.\n\n**Authentication:** Requires Inventory API Key (see controller description above)",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number for items pagination.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number for items pagination.",
              "example": 1,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "rapidapi_tcggo_key",
            "description": "Inventory API Key (alternative to Authorization header).",
            "example": "tcggo_inv_XXXX",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Inventory API Key (alternative to Authorization header).",
              "example": "tcggo_inv_XXXX",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "name": "Main Collection",
                      "is_public": true,
                      "is_primary": true,
                      "total_items": 25,
                      "total_value": 4775,
                      "actual_value": 3200,
                      "profit_loss": 1575,
                      "profit_loss_percentage": 49.22,
                      "created_at": "2024-01-15T10:30:00+00:00",
                      "updated_at": "2024-12-20T14:22:00+00:00"
                    },
                    "items": {
                      "data": [
                        {
                          "id": 55,
                          "inventory_item_id": 55,
                          "count": 2,
                          "language": "en",
                          "bought_for": {
                            "total": 150,
                            "per_unit": 75
                          },
                          "current_value": {
                            "total": 220,
                            "per_unit": 110
                          },
                          "profit_loss": {
                            "amount": 70,
                            "percentage": 46.67
                          },
                          "item": {
                            "id": 3852,
                            "name": "Charizard ex",
                            "type": "card",
                            "card_number": "199",
                            "image": "https://images.tcggo.com/cards/sv3-199.webp",
                            "tcggo_url": "https://www.tcggo.com/pokemon/sv-obsidian-flames/charizard-ex-199"
                          }
                        },
                        {
                          "id": 56,
                          "inventory_item_id": 56,
                          "count": 1,
                          "language": "de",
                          "bought_for": {
                            "total": 45,
                            "per_unit": 45
                          },
                          "current_value": {
                            "total": 52,
                            "per_unit": 52
                          },
                          "profit_loss": {
                            "amount": 7,
                            "percentage": 15.56
                          },
                          "item": {
                            "id": 4521,
                            "name": "Pikachu VMAX",
                            "type": "card",
                            "card_number": "44",
                            "image": "https://images.tcggo.com/cards/swsh4-044.webp",
                            "tcggo_url": "https://www.tcggo.com/pokemon/swsh-vivid-voltage/pikachu-vmax-44"
                          }
                        }
                      ],
                      "paging": {
                        "current": 1,
                        "total": 2,
                        "per_page": 20
                      },
                      "results": 25
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "example": "Main Collection"
                        },
                        "is_public": {
                          "type": "boolean",
                          "example": true
                        },
                        "is_primary": {
                          "type": "boolean",
                          "example": true
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 25
                        },
                        "total_value": {
                          "type": "number",
                          "example": 4775
                        },
                        "actual_value": {
                          "type": "number",
                          "example": 3200
                        },
                        "profit_loss": {
                          "type": "number",
                          "example": 1575
                        },
                        "profit_loss_percentage": {
                          "type": "number",
                          "example": 49.22
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-01-15T10:30:00+00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2024-12-20T14:22:00+00:00"
                        }
                      }
                    },
                    "items": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "example": [
                            {
                              "id": 55,
                              "inventory_item_id": 55,
                              "count": 2,
                              "language": "en",
                              "bought_for": {
                                "total": 150,
                                "per_unit": 75
                              },
                              "current_value": {
                                "total": 220,
                                "per_unit": 110
                              },
                              "profit_loss": {
                                "amount": 70,
                                "percentage": 46.67
                              },
                              "item": {
                                "id": 3852,
                                "name": "Charizard ex",
                                "type": "card",
                                "card_number": "199",
                                "image": "https://images.tcggo.com/cards/sv3-199.webp",
                                "tcggo_url": "https://www.tcggo.com/pokemon/sv-obsidian-flames/charizard-ex-199"
                              }
                            },
                            {
                              "id": 56,
                              "inventory_item_id": 56,
                              "count": 1,
                              "language": "de",
                              "bought_for": {
                                "total": 45,
                                "per_unit": 45
                              },
                              "current_value": {
                                "total": 52,
                                "per_unit": 52
                              },
                              "profit_loss": {
                                "amount": 7,
                                "percentage": 15.56
                              },
                              "item": {
                                "id": 4521,
                                "name": "Pikachu VMAX",
                                "type": "card",
                                "card_number": "44",
                                "image": "https://images.tcggo.com/cards/swsh4-044.webp",
                                "tcggo_url": "https://www.tcggo.com/pokemon/swsh-vivid-voltage/pikachu-vmax-44"
                              }
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 55
                              },
                              "inventory_item_id": {
                                "type": "integer",
                                "example": 55
                              },
                              "count": {
                                "type": "integer",
                                "example": 2
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              },
                              "bought_for": {
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "type": "number",
                                    "example": 150
                                  },
                                  "per_unit": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              },
                              "current_value": {
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "type": "number",
                                    "example": 220
                                  },
                                  "per_unit": {
                                    "type": "number",
                                    "example": 110
                                  }
                                }
                              },
                              "profit_loss": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 70
                                  },
                                  "percentage": {
                                    "type": "number",
                                    "example": 46.67
                                  }
                                }
                              },
                              "item": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 3852
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Charizard ex"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "card"
                                  },
                                  "card_number": {
                                    "type": "string",
                                    "example": "199"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://images.tcggo.com/cards/sv3-199.webp"
                                  },
                                  "tcggo_url": {
                                    "type": "string",
                                    "example": "https://www.tcggo.com/pokemon/sv-obsidian-flames/charizard-ex-199"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "paging": {
                          "type": "object",
                          "properties": {
                            "current": {
                              "type": "integer",
                              "example": 1
                            },
                            "total": {
                              "type": "integer",
                              "example": 2
                            },
                            "per_page": {
                              "type": "integer",
                              "example": 20
                            }
                          }
                        },
                        "results": {
                          "type": "integer",
                          "example": 25
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "security": []
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the inventory.",
          "example": 17,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/inventories/{id}/stats": {
      "get": {
        "summary": "Get Inventory Stats",
        "operationId": "getInventoryStats",
        "description": "Get comprehensive statistics and chart data for the inventory.\nIncludes total value, bought value, profit/loss, item counts, and price changes.\n\n**Authentication:** Requires Inventory API Key (see controller description above)",
        "parameters": [
          {
            "in": "query",
            "name": "days",
            "description": "Number of days for chart data (default 30).",
            "example": 30,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of days for chart data (default 30).",
              "example": 30,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "rapidapi_tcggo_key",
            "description": "Inventory API Key (alternative to Authorization header).",
            "example": "tcggo_inv_XXXX",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Inventory API Key (alternative to Authorization header).",
              "example": "tcggo_inv_XXXX",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "total_value": 4775,
                      "actual_value": 3200,
                      "profit_loss": 1575,
                      "profit_loss_percentage": 49.22,
                      "total_items": 25,
                      "priced_items_count": 23,
                      "cards_count": 24,
                      "products_count": 1,
                      "price_changes": {
                        "daily": {
                          "change": 89.04,
                          "percent": 1.9
                        },
                        "weekly": {
                          "change": 245.5,
                          "percent": 5.42
                        },
                        "monthly": {
                          "change": 484,
                          "percent": 11.28
                        }
                      },
                      "chart_data": {
                        "labels": [
                          "2024-11-22",
                          "2024-11-29",
                          "2024-12-06",
                          "2024-12-13",
                          "2024-12-20"
                        ],
                        "values": [
                          4291,
                          4410,
                          4536.5,
                          4685.96,
                          4775
                        ]
                      }
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_value": {
                          "type": "number",
                          "example": 4775
                        },
                        "actual_value": {
                          "type": "number",
                          "example": 3200
                        },
                        "profit_loss": {
                          "type": "number",
                          "example": 1575
                        },
                        "profit_loss_percentage": {
                          "type": "number",
                          "example": 49.22
                        },
                        "total_items": {
                          "type": "integer",
                          "example": 25
                        },
                        "priced_items_count": {
                          "type": "integer",
                          "example": 23
                        },
                        "cards_count": {
                          "type": "integer",
                          "example": 24
                        },
                        "products_count": {
                          "type": "integer",
                          "example": 1
                        },
                        "price_changes": {
                          "type": "object",
                          "properties": {
                            "daily": {
                              "type": "object",
                              "properties": {
                                "change": {
                                  "type": "number",
                                  "example": 89.04
                                },
                                "percent": {
                                  "type": "number",
                                  "example": 1.9
                                }
                              }
                            },
                            "weekly": {
                              "type": "object",
                              "properties": {
                                "change": {
                                  "type": "number",
                                  "example": 245.5
                                },
                                "percent": {
                                  "type": "number",
                                  "example": 5.42
                                }
                              }
                            },
                            "monthly": {
                              "type": "object",
                              "properties": {
                                "change": {
                                  "type": "number",
                                  "example": 484
                                },
                                "percent": {
                                  "type": "number",
                                  "example": 11.28
                                }
                              }
                            }
                          }
                        },
                        "chart_data": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "example": [
                                "2024-11-22",
                                "2024-11-29",
                                "2024-12-06",
                                "2024-12-13",
                                "2024-12-20"
                              ],
                              "items": {
                                "type": "string"
                              }
                            },
                            "values": {
                              "type": "array",
                              "example": [
                                4291,
                                4410,
                                4536.5,
                                4685.96,
                                4775
                              ],
                              "items": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "security": []
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the inventory.",
          "example": 17,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/inventories/{id}/items": {
      "post": {
        "summary": "Add Item to Inventory",
        "operationId": "addItemToInventory",
        "description": "Add a single card or sealed product to the inventory.\n\n**Authentication:** Requires Inventory API Key (see controller description above)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Item added successfully"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Item added successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer",
                    "description": "The ID of the Item (card/product).",
                    "example": 3852,
                    "nullable": false
                  },
                  "count": {
                    "type": "integer",
                    "description": "Quantity to add (default 1).",
                    "example": 2,
                    "nullable": false
                  },
                  "price": {
                    "type": "number",
                    "description": "Custom purchase price per unit.",
                    "example": 12.5,
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code: en, de, fr, es, it. Default: en.",
                    "example": "en",
                    "nullable": true
                  }
                },
                "required": [
                  "item_id"
                ]
              }
            }
          }
        },
        "security": []
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the inventory.",
          "example": 17,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/inventories/{inventoryId}/items/{itemId}": {
      "put": {
        "summary": "Update Inventory Item",
        "operationId": "updateInventoryItem",
        "description": "Update an existing item in the inventory (quantity, price, language).\n\n**Authentication:** Requires Inventory API Key (see controller description above)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Item updated successfully"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Item updated successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "Quantity.",
                    "example": 5,
                    "nullable": false
                  },
                  "price": {
                    "type": "number",
                    "description": "Custom price per unit.",
                    "example": 20,
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code: en, de, fr, es, it.",
                    "example": "en",
                    "nullable": false
                  }
                },
                "required": [
                  "count",
                  "language"
                ]
              }
            }
          }
        },
        "security": []
      },
      "delete": {
        "summary": "Remove Item from Inventory",
        "operationId": "removeItemFromInventory",
        "description": "Remove a specific item entry from the inventory.\n\n**Authentication:** Requires Inventory API Key (see controller description above)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Item removed successfully"
                  },
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Item removed successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Inventory"
        ],
        "security": []
      },
      "parameters": [
        {
          "in": "path",
          "name": "inventoryId",
          "description": "The ID of the inventory.",
          "example": 17,
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "in": "path",
          "name": "itemId",
          "description": "The ID of the Inventory Item entry (not the card ID).",
          "example": 55,
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/{game}/cards/recognize": {
      "get": {
        "summary": "Recognize card by OCR text",
        "operationId": "recognizeCardByOCRText",
        "description": "",
        "parameters": [
          {
            "in": "query",
            "name": "text",
            "description": "OCR text to match against scanned cards.",
            "example": "BASIC Graikizo Spiritomb 700 Raging Curse",
            "required": true,
            "schema": {
              "type": "string",
              "description": "OCR text to match against scanned cards.",
              "example": "BASIC Graikizo Spiritomb 700 Raging Curse",
              "nullable": false
            }
          }
        ],
        "responses": {},
        "tags": [
          "Cards"
        ],
        "security": []
      },
      "parameters": [
        {
          "in": "path",
          "name": "game",
          "description": "The game slug (e.g., pokemon, lorcana).",
          "example": "pokemon",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{game}/cards/search": {
      "get": {
        "summary": "Search for Cards",
        "operationId": "searchForCards",
        "description": "**Quick Examples:**\n- Find by CardMarket ID: `/pokemon/cards/search?cardmarket_id=362170`\n- Find by PokemonTCG ID: `/pokemon/cards/search?tcgid=sv3-223`\n- Find by card number: `/pokemon/cards/search?card_number=gg12`\n- **Powerful combo**: `/pokemon/cards/search?name=Charizard&card_number=125`\n- **Batch lookup**: `/pokemon/cards/search?ids=3852,3853,3854`",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page number to retrieve.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The page number to retrieve.",
              "example": 1,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "🆕 **NEW** Batch lookup by multiple internal IDs. Comma-separated, max 20.",
            "example": "3852,3853,3854",
            "required": false,
            "schema": {
              "type": "string",
              "description": "🆕 **NEW** Batch lookup by multiple internal IDs. Comma-separated, max 20.",
              "example": "3852,3853,3854",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "artist_id",
            "description": "The ID of an artist to filter by.",
            "example": 434,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The ID of an artist to filter by.",
              "example": 434,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "episode_id",
            "description": "The ID of an episode to filter by.",
            "example": 21,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The ID of an episode to filter by.",
              "example": 21,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Filter by name or card number (case-insensitive, partial match).",
            "example": "Pikachu",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by name or card number (case-insensitive, partial match).",
              "example": "Pikachu",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "Filter by card name only (case-insensitive, partial match). Great for combining with card_number.",
            "example": "Charizard",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by card name only (case-insensitive, partial match). Great for combining with card_number.",
              "example": "Charizard",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "tcgid",
            "description": "Exact match filter by tcgid (pokemontcg-id). Use for precise lookups - \"sv3-223\" returns only that card.",
            "example": "sv3-223",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Exact match filter by tcgid (pokemontcg-id). Use for precise lookups - \"sv3-223\" returns only that card.",
              "example": "sv3-223",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "tcgids",
            "description": "🆕 **NEW** Batch lookup by multiple tcgids (pokemontcg-ids). Comma-separated, max 20.",
            "example": "sv3-223,sv3-224,sv2-113",
            "required": false,
            "schema": {
              "type": "string",
              "description": "🆕 **NEW** Batch lookup by multiple tcgids (pokemontcg-ids). Comma-separated, max 20.",
              "example": "sv3-223,sv3-224,sv2-113",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "cardmarket_id",
            "description": "Exact match filter by CardMarket ID.",
            "example": 362170,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Exact match filter by CardMarket ID.",
              "example": 362170,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "cardmarket_ids",
            "description": "🆕 **NEW** Batch lookup by multiple CardMarket IDs. Comma-separated, max 20.",
            "example": "362170,362171,362172",
            "required": false,
            "schema": {
              "type": "string",
              "description": "🆕 **NEW** Batch lookup by multiple CardMarket IDs. Comma-separated, max 20.",
              "example": "362170,362171,362172",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "tcgplayer_id",
            "description": "Exact match filter by TCGPlayer ID.",
            "example": 632494,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Exact match filter by TCGPlayer ID.",
              "example": 632494,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "tcgplayer_ids",
            "description": "Batch lookup by multiple TCGPlayer IDs. Comma-separated, max 20.",
            "example": "632494,632495,632496",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Batch lookup by multiple TCGPlayer IDs. Comma-separated, max 20.",
              "example": "632494,632495,632496",
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "card_number",
            "description": "string|integer Filter by card number (e.g. 125, gg12, OP09-119). Perfect for combining with name filter.",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "string|integer Filter by card number (e.g. 125, gg12, OP09-119). Perfect for combining with name filter.",
              "example": 0,
              "nullable": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sorts the results. Default is `relevance` (best match first). Options: `relevance`, `price_highest`, `price_lowest`, `card_number_highest`, `card_number_lowest`, `last_added`, `episode_newest`, `episode_oldest`.",
            "example": "relevance",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sorts the results. Default is `relevance` (best match first). Options: `relevance`, `price_highest`, `price_lowest`, `card_number_highest`, `card_number_lowest`, `last_added`, `episode_newest`, `episode_oldest`.",
              "example": "relevance",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 21421,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 28",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 28,
                        "hp": 190,
                        "rarity": "Double Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8pt5-28",
                        "cardmarket_id": 805417,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 1,
                            "lowest_near_mint_EU_only": 1,
                            "lowest_near_mint_DE": 0.9,
                            "lowest_near_mint_DE_EU_only": 1,
                            "lowest_near_mint_FR": 1.19,
                            "lowest_near_mint_FR_EU_only": 1.5,
                            "lowest_near_mint_ES": 1.4,
                            "lowest_near_mint_ES_EU_only": 1.4,
                            "lowest_near_mint_IT": 0.5,
                            "lowest_near_mint_IT_EU_only": 0.5,
                            "30d_average": 1.65,
                            "7d_average": 1.66,
                            "graded": []
                          }
                        },
                        "episode": {
                          "id": 212,
                          "name": "Prismatic Evolutions",
                          "slug": "prismatic-evolutions",
                          "released_at": "2025-01-17",
                          "logo": "https://images.tcggo.com/tcggo/storage/21414/prismatic-evolutions-logo.png",
                          "code": "PRE",
                          "cards_total": 180,
                          "cards_printed_total": 131,
                          "prices": {
                            "cardmarket": {
                              "total": 3215.19,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 0,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21443/pikachu-ex-pre-28-prismatic-evolutions.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/prismatic-evolutions/pikachu-ex-28",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/21421"
                        }
                      },
                      {
                        "id": 21572,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 179",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 179,
                        "hp": 200,
                        "rarity": "Hyper Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8pt5-179",
                        "cardmarket_id": 805573,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 37.98,
                            "lowest_near_mint_EU_only": 37.98,
                            "lowest_near_mint_DE": 30.5,
                            "lowest_near_mint_DE_EU_only": 30.5,
                            "lowest_near_mint_FR": 49,
                            "lowest_near_mint_FR_EU_only": 49,
                            "lowest_near_mint_ES": 34.5,
                            "lowest_near_mint_ES_EU_only": 34.5,
                            "lowest_near_mint_IT": 26,
                            "lowest_near_mint_IT_EU_only": 26,
                            "graded": {
                              "psa": {
                                "psa10": 345,
                                "psa9": 110
                              },
                              "bgs": {
                                "bgs9": 62
                              },
                              "cgc": {
                                "cgc10": 900
                              }
                            }
                          }
                        },
                        "episode": {
                          "id": 212,
                          "name": "Prismatic Evolutions",
                          "slug": "prismatic-evolutions",
                          "released_at": "2025-01-17",
                          "logo": "https://images.tcggo.com/tcggo/storage/21414/prismatic-evolutions-logo.png",
                          "code": "PRE",
                          "cards_total": 180,
                          "cards_printed_total": 131,
                          "prices": {
                            "cardmarket": {
                              "total": 3215.19,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 0,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21594/pikachu-ex-pre-179-prismatic-evolutions.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/prismatic-evolutions/pikachu-ex-179",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/21572"
                        }
                      },
                      {
                        "id": 20845,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 57",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 57,
                        "hp": 200,
                        "rarity": "Double Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8-57",
                        "cardmarket_id": 794329,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 2.92,
                            "lowest_near_mint_EU_only": 2.92,
                            "lowest_near_mint_DE": 1.99,
                            "lowest_near_mint_DE_EU_only": 1.29,
                            "lowest_near_mint_FR": 3.9,
                            "lowest_near_mint_FR_EU_only": 3.99,
                            "lowest_near_mint_ES": 4,
                            "lowest_near_mint_ES_EU_only": 4,
                            "lowest_near_mint_IT": 1.4,
                            "lowest_near_mint_IT_EU_only": 1.4,
                            "30d_average": 3.6,
                            "7d_average": 3.32,
                            "graded": {
                              "psa": {
                                "psa10": 65,
                                "psa9": 30
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 3.72,
                            "mid_price": 3.91
                          }
                        },
                        "episode": {
                          "id": 172,
                          "name": "Surging Sparks",
                          "slug": "surging-sparks",
                          "released_at": "2024-11-08",
                          "logo": "https://images.tcggo.com/tcggo/storage/20954/surging-sparks-logo.png",
                          "code": "SSP",
                          "cards_total": 252,
                          "cards_printed_total": 191,
                          "prices": {
                            "cardmarket": {
                              "total": 952.59,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 906.97,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21011/pikachu-ex-ssp-57-surging-sparks.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/surging-sparks/pikachu-ex-57",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/20845"
                        }
                      },
                      {
                        "id": 21007,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 219",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 219,
                        "hp": 200,
                        "rarity": "Ultra Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8-219",
                        "cardmarket_id": 794592,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 19,
                            "lowest_near_mint_EU_only": 19,
                            "lowest_near_mint_DE": 17,
                            "lowest_near_mint_DE_EU_only": 17,
                            "lowest_near_mint_FR": 19.99,
                            "lowest_near_mint_FR_EU_only": 22,
                            "lowest_near_mint_ES": 21.2,
                            "lowest_near_mint_ES_EU_only": 21.2,
                            "lowest_near_mint_IT": 10.9,
                            "lowest_near_mint_IT_EU_only": 10.9,
                            "30d_average": 20.44,
                            "7d_average": 18.36,
                            "graded": {
                              "psa": {
                                "psa10": 199,
                                "psa9": 89
                              },
                              "cgc": {
                                "cgc10": 98,
                                "cgc9": 70,
                                "cgc8": 50
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 21.74,
                            "mid_price": 24.62
                          }
                        },
                        "episode": {
                          "id": 172,
                          "name": "Surging Sparks",
                          "slug": "surging-sparks",
                          "released_at": "2024-11-08",
                          "logo": "https://images.tcggo.com/tcggo/storage/20954/surging-sparks-logo.png",
                          "code": "SSP",
                          "cards_total": 252,
                          "cards_printed_total": 191,
                          "prices": {
                            "cardmarket": {
                              "total": 952.59,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 906.97,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21170/pikachu-ex-ssp-219-surging-sparks.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/surging-sparks/pikachu-ex-219",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/21007"
                        }
                      },
                      {
                        "id": 21026,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 238",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 238,
                        "hp": 200,
                        "rarity": "Special Illustration Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8-238",
                        "cardmarket_id": 794611,
                        "tcgplayer_id": 590027,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 244.99,
                            "lowest_near_mint_EU_only": 244.99,
                            "lowest_near_mint_DE": 187.99,
                            "lowest_near_mint_DE_EU_only": 187.99,
                            "lowest_near_mint_FR": 350,
                            "lowest_near_mint_FR_EU_only": 350,
                            "lowest_near_mint_ES": 220,
                            "lowest_near_mint_ES_EU_only": 220,
                            "lowest_near_mint_IT": 259,
                            "lowest_near_mint_IT_EU_only": 259,
                            "30d_average": 272.39,
                            "7d_average": 261.57,
                            "graded": {
                              "psa": {
                                "psa10": 319,
                                "psa9": 315
                              },
                              "cgc": {
                                "cgc10": 550
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 221.74,
                            "mid_price": 256.41
                          }
                        },
                        "episode": {
                          "id": 172,
                          "name": "Surging Sparks",
                          "slug": "surging-sparks",
                          "released_at": "2024-11-08",
                          "logo": "https://images.tcggo.com/tcggo/storage/20954/surging-sparks-logo.png",
                          "code": "SSP",
                          "cards_total": 252,
                          "cards_printed_total": 191,
                          "prices": {
                            "cardmarket": {
                              "total": 952.59,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 906.97,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21188/pikachu-ex-ssp-238-surging-sparks.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/surging-sparks/pikachu-ex-238",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/21026",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/21026"
                        }
                      },
                      {
                        "id": 21035,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 247",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 247,
                        "hp": 200,
                        "rarity": "Hyper Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv8-247",
                        "cardmarket_id": 794621,
                        "tcgplayer_id": 593169,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 60,
                            "lowest_near_mint_EU_only": 60,
                            "lowest_near_mint_DE": 45,
                            "lowest_near_mint_DE_EU_only": 45,
                            "lowest_near_mint_FR": 69.99,
                            "lowest_near_mint_FR_EU_only": 69.99,
                            "lowest_near_mint_ES": 70,
                            "lowest_near_mint_ES_EU_only": 70,
                            "lowest_near_mint_IT": 44.99,
                            "lowest_near_mint_IT_EU_only": 44.99,
                            "30d_average": 72.35,
                            "7d_average": 85.09,
                            "graded": {
                              "psa": {
                                "psa10": 94,
                                "psa9": 85
                              },
                              "cgc": {
                                "cgc10": 250
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 60.86,
                            "mid_price": 69.11
                          }
                        },
                        "episode": {
                          "id": 172,
                          "name": "Surging Sparks",
                          "slug": "surging-sparks",
                          "released_at": "2024-11-08",
                          "logo": "https://images.tcggo.com/tcggo/storage/20954/surging-sparks-logo.png",
                          "code": "SSP",
                          "cards_total": 252,
                          "cards_printed_total": 191,
                          "prices": {
                            "cardmarket": {
                              "total": 952.59,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 906.97,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": null,
                        "image": "https://images.tcggo.com/tcggo/storage/21197/pikachu-ex-ssp-247-surging-sparks.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/surging-sparks/pikachu-ex-247",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/21035",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/21035"
                        }
                      },
                      {
                        "id": 1805,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 51",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 51,
                        "hp": 70,
                        "rarity": "Common",
                        "supertype": "Pokémon",
                        "tcgid": "sv5-51",
                        "cardmarket_id": 760681,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 0.02,
                            "lowest_near_mint_EU_only": 0.02,
                            "lowest_near_mint_DE": 0.02,
                            "lowest_near_mint_DE_EU_only": 0.02,
                            "lowest_near_mint_FR": 0.02,
                            "lowest_near_mint_FR_EU_only": 0.02,
                            "lowest_near_mint_ES": 0.02,
                            "lowest_near_mint_ES_EU_only": 0.02,
                            "lowest_near_mint_IT": 0.02,
                            "lowest_near_mint_IT_EU_only": 0.02,
                            "30d_average": 0.14,
                            "7d_average": 0.11,
                            "graded": []
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 0.18,
                            "mid_price": 0.21
                          }
                        },
                        "episode": {
                          "id": 13,
                          "name": "Temporal Forces",
                          "slug": "temporal-forces",
                          "released_at": "2024-03-22",
                          "logo": "https://images.tcggo.com/tcggo/storage/1763/temporal-forces-logo.png",
                          "code": "TEF",
                          "cards_total": 218,
                          "cards_printed_total": 162,
                          "prices": {
                            "cardmarket": {
                              "total": 621.27,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 756.59,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 414,
                          "name": "kodama",
                          "slug": "kodama"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/21357/pikachu-tef-51-temporal-forces.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/temporal-forces/pikachu-51",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/1805"
                        }
                      },
                      {
                        "id": 1980,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 18",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 18,
                        "hp": 70,
                        "rarity": "Common",
                        "supertype": "Pokémon",
                        "tcgid": "sv4pt5-18",
                        "cardmarket_id": 751545,
                        "tcgplayer_id": 534163,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 0.02,
                            "lowest_near_mint_EU_only": 0.02,
                            "lowest_near_mint_DE": 0.02,
                            "lowest_near_mint_DE_EU_only": 0.02,
                            "lowest_near_mint_FR": 0.02,
                            "lowest_near_mint_FR_EU_only": 0.02,
                            "lowest_near_mint_ES": 0.02,
                            "lowest_near_mint_ES_EU_only": 0.02,
                            "lowest_near_mint_IT": 0.02,
                            "lowest_near_mint_IT_EU_only": 0.02,
                            "30d_average": 0.09,
                            "7d_average": 0.12,
                            "graded": []
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 0.15,
                            "mid_price": 0.17
                          }
                        },
                        "episode": {
                          "id": 14,
                          "name": "Paldean Fates",
                          "slug": "paldean-fates",
                          "released_at": "2024-01-26",
                          "logo": "https://images.tcggo.com/tcggo/storage/1981/paldean-fates-logo.png",
                          "code": "PAF",
                          "cards_total": 245,
                          "cards_printed_total": 91,
                          "prices": {
                            "cardmarket": {
                              "total": 1323.94,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1682.39,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 394,
                          "name": "OKACHEKE",
                          "slug": "okacheke"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/1990/pikachu-paf-18-paldean-fates-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/paldean-fates/pikachu-18",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/1980",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/1980"
                        }
                      },
                      {
                        "id": 2105,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 131",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 131,
                        "hp": 70,
                        "rarity": "Shiny Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv4pt5-131",
                        "cardmarket_id": 751670,
                        "tcgplayer_id": 534522,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 34.99,
                            "lowest_near_mint_EU_only": 34.99,
                            "lowest_near_mint_DE": 26.95,
                            "lowest_near_mint_DE_EU_only": 26.95,
                            "lowest_near_mint_FR": 53.9,
                            "lowest_near_mint_FR_EU_only": 54,
                            "lowest_near_mint_ES": 35,
                            "lowest_near_mint_ES_EU_only": 35,
                            "lowest_near_mint_IT": 24.99,
                            "lowest_near_mint_IT_EU_only": 24.99,
                            "30d_average": 37.98,
                            "7d_average": 36.76,
                            "graded": {
                              "psa": {
                                "psa10": 550,
                                "psa9": 54
                              },
                              "cgc": {
                                "cgc10": 400
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 45.92,
                            "mid_price": 45.94
                          }
                        },
                        "episode": {
                          "id": 14,
                          "name": "Paldean Fates",
                          "slug": "paldean-fates",
                          "released_at": "2024-01-26",
                          "logo": "https://images.tcggo.com/tcggo/storage/1981/paldean-fates-logo.png",
                          "code": "PAF",
                          "cards_total": 245,
                          "cards_printed_total": 91,
                          "prices": {
                            "cardmarket": {
                              "total": 1323.94,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1682.39,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 409,
                          "name": "Yuu Nishida",
                          "slug": "yuu-nishida"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/2115/pikachu-paf-131-paldean-fates-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/paldean-fates/pikachu-131",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/2105",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/2105"
                        }
                      },
                      {
                        "id": 2635,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 173",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 173,
                        "hp": 60,
                        "rarity": "Illustration Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv3pt5-173",
                        "cardmarket_id": 733768,
                        "tcgplayer_id": 513721,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 70,
                            "lowest_near_mint_EU_only": 70,
                            "lowest_near_mint_DE": 59.99,
                            "lowest_near_mint_DE_EU_only": 59.99,
                            "lowest_near_mint_FR": 93,
                            "lowest_near_mint_FR_EU_only": 93,
                            "lowest_near_mint_ES": 118,
                            "lowest_near_mint_ES_EU_only": 118,
                            "lowest_near_mint_IT": 44.99,
                            "lowest_near_mint_IT_EU_only": 44.99,
                            "30d_average": 68.42,
                            "7d_average": 80.09,
                            "graded": {
                              "psa": {
                                "psa10": 450,
                                "psa9": 110,
                                "psa8": 85
                              },
                              "bgs": {
                                "bgs9": 115,
                                "bgs8": 99
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 72.13,
                            "mid_price": 76.92
                          }
                        },
                        "episode": {
                          "id": 16,
                          "name": "151",
                          "slug": "151",
                          "released_at": "2023-09-22",
                          "logo": "https://images.tcggo.com/tcggo/storage/2496/151-logo.png",
                          "code": "MEW",
                          "cards_total": 207,
                          "cards_printed_total": 165,
                          "prices": {
                            "cardmarket": {
                              "total": 1725.27,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1899.84,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 540,
                          "name": "Hiroyuki Yamamoto",
                          "slug": "hiroyuki-yamamoto"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/2649/pikachu-mew-173-151-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/151/pikachu-173",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/2635",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/2635"
                        }
                      },
                      {
                        "id": 2494,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 25",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 25,
                        "hp": 60,
                        "rarity": "Common",
                        "supertype": "Pokémon",
                        "tcgid": "sv3pt5-25",
                        "cardmarket_id": 733620,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 0.02,
                            "lowest_near_mint_EU_only": 0.02,
                            "lowest_near_mint_DE": 0.02,
                            "lowest_near_mint_DE_EU_only": 0.02,
                            "lowest_near_mint_FR": 0.02,
                            "lowest_near_mint_FR_EU_only": 0.02,
                            "lowest_near_mint_ES": 0.02,
                            "lowest_near_mint_ES_EU_only": 0.02,
                            "lowest_near_mint_IT": 0.02,
                            "lowest_near_mint_IT_EU_only": 0.02,
                            "30d_average": 0.11,
                            "7d_average": 0.17,
                            "graded": []
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 0.18,
                            "mid_price": 0.18
                          }
                        },
                        "episode": {
                          "id": 16,
                          "name": "151",
                          "slug": "151",
                          "released_at": "2023-09-22",
                          "logo": "https://images.tcggo.com/tcggo/storage/2496/151-logo.png",
                          "code": "MEW",
                          "cards_total": 207,
                          "cards_printed_total": 165,
                          "prices": {
                            "cardmarket": {
                              "total": 1725.27,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1899.84,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 362,
                          "name": "Naoyo Kimura",
                          "slug": "naoyo-kimura"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/2508/pikachu-mew-25-151-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/151/pikachu-25",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/2494"
                        }
                      },
                      {
                        "id": 2978,
                        "name": "Pikachu ex",
                        "name_numbered": "Pikachu ex 63",
                        "slug": "pikachu-ex",
                        "type": "singles",
                        "card_number": 63,
                        "hp": 190,
                        "rarity": "Double Rare",
                        "supertype": "Pokémon",
                        "tcgid": "sv2-63",
                        "cardmarket_id": 715538,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 1,
                            "lowest_near_mint_EU_only": 1,
                            "lowest_near_mint_DE": 0.6,
                            "lowest_near_mint_DE_EU_only": 0.6,
                            "lowest_near_mint_FR": 1.5,
                            "lowest_near_mint_FR_EU_only": 1.5,
                            "lowest_near_mint_ES": 1.5,
                            "lowest_near_mint_ES_EU_only": 1.5,
                            "lowest_near_mint_IT": 0.33,
                            "lowest_near_mint_IT_EU_only": 0.33,
                            "30d_average": 1.46,
                            "7d_average": 1.38,
                            "graded": []
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 2.76,
                            "mid_price": 2.91
                          }
                        },
                        "episode": {
                          "id": 18,
                          "name": "Paldea Evolved",
                          "slug": "paldea-evolved",
                          "released_at": "2023-06-09",
                          "logo": "https://images.tcggo.com/tcggo/storage/2935/paldea-evolved-logo.png",
                          "code": "PAL",
                          "cards_total": 279,
                          "cards_printed_total": 193,
                          "prices": {
                            "cardmarket": {
                              "total": 917.87,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1294.43,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 489,
                          "name": "N-DESIGN Inc.",
                          "slug": "n-design-inc"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/2994/pikachu-ex-pal-63-paldea-evolved-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/paldea-evolved/pikachu-ex-63",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/2978"
                        }
                      },
                      {
                        "id": 2984,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 62",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 62,
                        "hp": 70,
                        "rarity": "Common",
                        "supertype": "Pokémon",
                        "tcgid": "sv2-62",
                        "cardmarket_id": 715537,
                        "tcgplayer_id": null,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 0.03,
                            "lowest_near_mint_EU_only": 0.02,
                            "lowest_near_mint_DE": 0.02,
                            "lowest_near_mint_DE_EU_only": 0.02,
                            "lowest_near_mint_FR": 0.02,
                            "lowest_near_mint_FR_EU_only": 0.02,
                            "lowest_near_mint_ES": 0.02,
                            "lowest_near_mint_ES_EU_only": 0.02,
                            "lowest_near_mint_IT": 0.02,
                            "lowest_near_mint_IT_EU_only": 0.02,
                            "30d_average": 0.07,
                            "7d_average": 0.03,
                            "graded": []
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 0.22,
                            "mid_price": 0.2
                          }
                        },
                        "episode": {
                          "id": 18,
                          "name": "Paldea Evolved",
                          "slug": "paldea-evolved",
                          "released_at": "2023-06-09",
                          "logo": "https://images.tcggo.com/tcggo/storage/2935/paldea-evolved-logo.png",
                          "code": "PAL",
                          "cards_total": 279,
                          "cards_printed_total": 193,
                          "prices": {
                            "cardmarket": {
                              "total": 917.87,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1294.43,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 1,
                            "name": "Scarlet & Violet",
                            "slug": "scarlet-violet"
                          }
                        },
                        "artist": {
                          "id": 394,
                          "name": "OKACHEKE",
                          "slug": "okacheke"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/3000/pikachu-pal-62-paldea-evolved-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/paldea-evolved/pikachu-62",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/2984"
                        }
                      },
                      {
                        "id": 3783,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu 160",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": 160,
                        "hp": 70,
                        "rarity": "Rare Secret",
                        "supertype": "Pokémon",
                        "tcgid": "swsh12pt5-160",
                        "cardmarket_id": 691879,
                        "tcgplayer_id": 478103,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 36,
                            "lowest_near_mint_EU_only": 36,
                            "lowest_near_mint_DE": 29.89,
                            "lowest_near_mint_DE_EU_only": 29.89,
                            "lowest_near_mint_FR": 60,
                            "lowest_near_mint_FR_EU_only": 60,
                            "lowest_near_mint_ES": 26,
                            "lowest_near_mint_ES_EU_only": 26,
                            "lowest_near_mint_IT": 34.99,
                            "lowest_near_mint_IT_EU_only": 34.99,
                            "30d_average": 42.47,
                            "7d_average": 47.49,
                            "graded": {
                              "psa": {
                                "psa10": 99,
                                "psa9": 69,
                                "psa8": 75
                              },
                              "bgs": {
                                "bgs10pristine": 399,
                                "bgs10": 175,
                                "bgs9": 69
                              }
                            }
                          },
                          "tcg_player": {
                            "currency": "EUR",
                            "market_price": 48.69,
                            "mid_price": 58.11
                          }
                        },
                        "episode": {
                          "id": 21,
                          "name": "Crown Zenith",
                          "slug": "crown-zenith",
                          "released_at": "2023-01-20",
                          "logo": "https://images.tcggo.com/tcggo/storage/3641/crown-zenith-logo.png",
                          "code": "CRZ",
                          "cards_total": 160,
                          "cards_printed_total": 159,
                          "prices": {
                            "cardmarket": {
                              "total": 1532.88,
                              "currency": "EUR"
                            },
                            "tcgplayer": {
                              "total": 1706.37,
                              "currency": "EUR"
                            }
                          },
                          "game": {
                            "name": "Pokémon",
                            "slug": "pokemon"
                          },
                          "series": {
                            "id": 2,
                            "name": "Sword & Shield",
                            "slug": "sword-shield"
                          }
                        },
                        "artist": {
                          "id": 522,
                          "name": "You Iribi",
                          "slug": "you-iribi"
                        },
                        "image": "https://images.tcggo.com/tcggo/storage/3802/pikachu-crz-160-crown-zenith-pokemon.png",
                        "tcggo_url": "https://www.tcggo.com/pokemon/crown-zenith/pikachu-160",
                        "links": {
                          "cardmarket": "https://www.tcggo.com/external/cm/3783",
                          "tcgplayer": "https://www.tcggo.com/external/tcgplayer/3783"
                        }
                      },
                      {
                        "id": 3813,
                        "name": "Pikachu",
                        "name_numbered": "Pikachu GG30",
                        "slug": "pikachu",
                        "type": "singles",
                        "card_number": "GG30",
                        "hp": 60,
                        "rarity": "Trainer Gallery Rare Holo",
                        "supertype": "Pokémon",
                        "tcgid": "swsh12pt5gg-GG30",
                        "cardmarket_id": 691909,
                        "tcgplayer_id": 478058,
                        "prices": {
                          "cardmarket": {
                            "currency": "EUR",
                            "lowest_near_mint": 30,
                            "lowest_near_mint_EU_only": 30,
                            "lowest_near_mint_DE": 29.99,
                            "lowest_near_mint_DE_EU_only": 29.99,
                            "lowest_near_mint_FR": 32.99,
                            "lowest_near_mint_FR_EU_only": 32.99,
                            "lowest_near_mint_ES": 20,
                            "lowest_near_mint_ES_EU_only": 20,
[...]
